{* {if empty($product_id)}
    {assign var="product_id" value=0}     
{/if}
*}
{* {$product_id|fn_print_r}  *}
<hr>
{* conntent seo *}
{include file="common/subheader.tpl" title=__("seo") target="#acc_altteam_addittional_tabs_seo"}
<div id="acc_altteam_addittional_tabs_seo" class="collapse in">
</div>

<hr>
{* content shippings *}
{include file="common/subheader.tpl" title=__("shipping_properties") target="#acc_altteam_addittional_tabs_shippings"}
<div id="acc_altteam_addittional_tabs_shippings" class="collapse in">
</div>

<hr>
{* content features *}
{include file="common/subheader.tpl" title=__("features") target="#acc_altteam_addittional_tabs_features"}
<div id="acc_altteam_addittional_tabs_features" class="collapse in"> 
    {assign var="product_id" value=0}

</div>
<hr>
{* content qty_discounts *}
{include file="common/subheader.tpl" title=__("qty_discounts") target="#acc_altteam_addittional_tabs_qty_discounts"}
<div id="acc_altteam_addittional_tabs_qty_discounts" class="collapse in">
</div>

<hr>
{* content addons *}
{include file="common/subheader.tpl" title=__("addons") target="#acc_altteam_addittional_tabs_addons"}
<div id="acc_altteam_addittional_tabs_addons" class="collapse in">
</div>


<script>
(function(_, $){
    
    var additionalData = new Array('seo','qty_discounts','addons','shippings','features');
    
    additionalData.forEach(function(contentId,i){
        $('#acc_altteam_addittional_tabs_' +  contentId).append($('#content_' + contentId).removeClass('hidden'))
    });
    
    $('#product_categories_add_' + "{$rnd}").change(function(){
        console.log('заебок');
        $.ceAjax('request', Tygh.current_url, {
                data: {
                    category_ids: $(this).val()
                },
                result_ids: 'product_features_pagination_'+"{$product_data.product_id}"
            });
    });
}(Tygh, Tygh.$));
</script>